<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pay">
	<resultMap type="pay" id="payResult">
		<result property="imp_uid" column="PAY_ID" /> <!-- PaymentVO의 필드=컬럼을 넣음 즉, DB와 엮어주고 잇는것 -->
		<result property="paid_at" column="PER_TIME" />
		<result property="merchant_uid" column="IMPORT_ID" />
		<result property="apply_num" column="PER_NUM" />
		<result property="pname" column="pname" />
		<result property="paid_amount" column="pay_amount" />
		<result property="pcount" column="pcount" />
		<result property="pbuyer" column="pbuyer" />
		<result property="padress" column="padress" />
	</resultMap>


	<insert id="insertPaySuccess">

		
		<!-- insert into Pay values(Pay_seq.nextval, sysdate, Pay_pnum_seq.nextval, 'testorder123', '잠옷', 10, '1', '테스트유저', '서울시') -->
		insert into Pay  values(#{imp_uid}, #{paid_at}, #{merchant_uid}, #{apply_num}, #{pname}, #{paid_amount}, #{pcount}, #{pbuyer}, #{padress})
	</insert>


</mapper>
